<div class="section__expander"></div>
<ul class="section__facts">
    <li class="section__facts-item section__facts-item--clickable">
        <h3 class="section__facts-title">Coople Style Guide</h3>
        <span class="section__facts-detail">Go to Page</span>
    </li>
    <li class="section__facts-item section__facts-item--clickable">
        <h3 class="section__facts-title">Coople Brand Identity Guidelines</h3>
        <span class="section__facts-detail">Download PDF</span>
    </li>
    <li class="section__facts-item section__facts-item--clickable">
        <h3 class="section__facts-title">Alfred's Todo List depth</h3>
        <span class="section__facts-detail">Learn what's next</span>
    </li>
</ul>
<script type="text/javascript">
function init() {
    $(".facts__toggle").click();
    $(".section__facts-item").css('opacity', '0.9');
    $(".facts__toggle").hide();

};

setTimeout(init, 1200);
</script>