<div class="section__expander"></div>
<ul class="section__facts">
    <li class="section__facts-item section__facts-item--clickable">
        <h3 class="section__facts-title">IOS UI KIT</h3>
        <span class="section__facts-detail"><a target="_empty" href="https://app.goabstract.com/projects/0a28e540-0676-11e8-a3b6-053c9cccdd92/branches/master/files/4007C5A1-D822-4424-862D-2DD1496B1BEF">See in detail</a></span>

   <!--      <div class="section__facts-img">
            <img src="{{ site.baseurl }}/images/{{page.title}}/process.jpg">
        </div> -->
    </li>

    <li class="section__facts-item section__facts-item--clickable">
        <h3 class="section__facts-title">Android UI KIT</h3>
        <span class="section__facts-detail"><a target="_empty" href="https://app.goabstract.com/projects/8115c540-e0cb-11e7-8f36-2da77b808238/branches/master/files/FB0ACC44-B34E-4A6B-B09B-24EF7F39D2F7">See in detail</a></span>

    </li>
    
    <li class="section__facts-item section__facts-item--clickable">
        <h3 class="section__facts-title">Bootstrap UI KIT</h3>
        <span class="section__facts-detail"><a target="_empty" href="https://share.goabstract.com/aa80d7ec-9b33-49bf-8139-4aaf01d88d33">See in detail</a></span>
    </li>
     <li class="section__facts-item section__facts-item--clickable">
        <h3 class="section__facts-title">Wireframe UI KIT</h3>
        <span class="section__facts-detail"><a target="_empty" href="https://share.goabstract.com/a2706423-6a95-41ae-9fda-b74d42404472">See in detail</a></span>
    </li>
</ul>
<script type="text/javascript">
// setTimeout(function() { $(".facts__toggle").click() }, 1200);
// function init(){
// 	$(".section__facts-img").click();
// 	$(".section__facts-item").css('opacity', '0.9');
// };

// setTimeout(init, 2400);
</script>