 {% include header.html %}
<!-- facts expander with toggles; content for each is in its section -->
<section class="p-5 row">
    <div class="sidebar col-2">
        {% include sidebar.html %}
    </div>
    <div class="col-10">
    	    <h1 class="pb-3">{{ page.title }}</h1>

        {{ content }}
    </div>
    <div class="section__img">
        <!-- <div class="section__img-inner" style="background-image: url({{ site.baseurl }}/images{{ page.url }}/01.svg)"></div> -->
    </div>
    </div> {%if page.url == "/process/design-process/" %} {% include design-process.html %} {% else %} {% include default.html %} {% endif %}
</section>
<!--/ section -->
<!--/ sections -->
{% include footer.html %}